main{
    border: 2px rgb(161, 161, 161) solid;
    width: 1300px;
    box-shadow: rgb(161, 161, 161) 0px 0px 15px 2px;

    .main{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
}